.footer {
    background: #474654;
}

.preloader-deactive .preloader-wrap {
    display: none;
}

.preloader-wrap {
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99999;
    overflow: hidden;
}

.preloader-wrap .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.preloader-wrap .dog-head {
    background-image: url('http://127.0.0.1:8000/frontend/img/dog-head-md.webp');
    height: 118px;
    left: 8px;
    position: absolute;
    width: 130px;
    animation: head-move 1s ease-in-out infinite;
    -webkit-animation: head-move 1s ease-in-out infinite;
    -moz-animation: head-move 1s ease-in-out infinite;
    -ms-animation: head-move 1s ease-in-out infinite;
    -o-animation: head-move 1s ease-in-out infinite;
    transform: translate(5px, 5px) rotate(1.5deg);
    -webkit-transform: translate(5px, 5px) rotate(1.5deg);
    -moz-transform: translate(5px, 5px) rotate(1.5deg);
    -ms-transform: translate(5px, 5px) rotate(1.5deg);
    -o-transform: translate(5px, 5px) rotate(1.5deg);
    top: -35px;
    z-index: 2;
}

.preloader-wrap .dog-body {
    background-repeat: no-repeat;
    background-image: url('http://127.0.0.1:8000/frontend/img/dog-body-md.webp');
    height: 150px;
    width: 160px;
}

@-webkit-keyframes head-move {
    50% {
        -webkit-transform: rotate(-1.5deg);
    }
}


.center-footer-logo{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.university-logo{
    width: 200px;
}

.header.shop .search-bar .btnn {
    background: #474654;
}

.header.shop .header-inner
 {
    background: #474654;
}

.header.sticky .header-inner .nav li a {
    color: #ffffff;
}

.section-title.shape-left:before, .shop-section-title.shape-left:before{
    content: url(http://127.0.0.1:8000/frontend/img/sec.webp);
    position: absolute;
    left: 0;
    top: -16px;
    z-index: -1;
}

.section-title.shape-center:before {
    content: url(http://127.0.0.1:8000/frontend/img/sec.webp);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    top: -11px;
    z-index: -1;
}

.section-title.shape-center:before {
    content: url(http://127.0.0.1:8000/frontend/img/sec.webp);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    top: -11px;
    z-index: -1;
}


.bg-color-f2 {
  background-color: #f2f2f2;
}


.product-category-item {
  margin-bottom: 30px;
  text-align: center;
}
.product-category-item .thumb {
  border-radius: 50%;
  display: inline-block;
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 200px;
}
.product-category-item .thumb img {
  border-radius: 50%;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  width: 100%;
}
.product-category-item .thumb:before {
  border: 2px dashed #721b65;
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  z-index: 10;
  opacity: 0;
  animation: spinAround 20s linear infinite;
  -webkit-animation: spinAround 20s linear infinite;
  -moz-animation: spinAround 20s linear infinite;
  -ms-animation: spinAround 20s linear infinite;
  -o-animation: spinAround 20s linear infinite;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.product-category-item .content {
  margin-top: 14px;
}
.product-category-item .content .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0;
}
.product-category-item .content .title a {
  color: #000;
}
.product-category-item .content .title a:hover {
  color: #000;
}
.product-category-item:hover .thumb:before {
  opacity: 1;
}
.product-category-item:hover .thumb img {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}
.product-category-item:hover .content .title a {
  color: #721b65;
}

.pb-50{
    padding-bottom: 50px;
}

.pt-50{
    padding-top: 50px;
}

.pb-100{
    padding-bottom: 100px;
}

.pt-100{
    padding-top: 100px;
}



/*
-----------------------------------------------------------------------
  Divider CSS
-----------------------------------------------------------------------
*/
.divider-style1 .divider-thumb {
  display: inline-block;
  height: 100%;
  position: relative;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* currently supported by Chrome, Edge, Opera and Firefox */
  width: 100%;
  z-index: 1;
}
@media only screen and (max-width: 991px) {
  .divider-style1 .divider-thumb {
    display: none;
  }
}
.divider-style1 .divider-thumb img {
  pointer-events: none;
  position: absolute;
  width: auto;
}
@media only screen and (max-width: 1399.98px) {
  .divider-style1 .divider-thumb img {
    width: 240px;
  }
}
.divider-style1 .divider-thumb-left img {
  bottom: 19px;
  right: calc(50% - 163px);
}
@media only screen and (max-width: 1399.98px) {
  .divider-style1 .divider-thumb-left img {
    right: calc(50% - 92px);
  }
}
.divider-style1 .divider-thumb-right img {
  bottom: 32px;
  right: 36px;
}
.divider-style1 .divider-thumb .shape-circle {
  background-color: #f4a32b;
  clip-path: polygon(0 0, 78% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 78% 0, 100% 100%, 0 100%);
  height: 100%;
  position: absolute;
  width: calc(100% + 41px);
  z-index: -1;
}
@media only screen and (max-width: 991px) {
  .divider-style1 .divider-thumb .shape-circle {
    display: none;
  }
}
.divider-style1 .divider-content {
  max-width: 454px;
  margin: 0 auto;
  position: relative;
  padding: 120px 0 126px;
  z-index: 1;
}
@media only screen and (max-width: 1399.98px) {
  .divider-style1 .divider-content {
    padding: 80px 0 86px;
  }
}
.divider-style1 .divider-content .sub-title {
  color: #ffd868;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1;
  margin-bottom: 13px;
  text-transform: uppercase;
}
@media only screen and (max-width: 1199px) {
  .divider-style1 .divider-content .sub-title {
    font-size: 15px;
    margin-bottom: 8px;
  }
}
.divider-style1 .divider-content .title {
  color: #fff;
  font-size: 48px;
}
@media only screen and (max-width: 1399.98px) {
  .divider-style1 .divider-content .title {
    font-size: 42px;
  }
}
@media only screen and (max-width: 1199px) {
  .divider-style1 .divider-content .title {
    font-size: 38px;
    margin-bottom: 4px;
  }
}
@media only screen and (max-width: 575px) {
  .divider-style1 .divider-content .title {
    font-size: 34px;
  }
}
.divider-style1 .divider-content .desc {
  color: #fff;
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 45px;
}
@media only screen and (max-width: 1399.98px) {
  .divider-style1 .divider-content .desc {
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 1199px) {
  .divider-style1 .divider-content .desc {
    font-size: 15px;
  }
}
.divider-style1 .divider-content .shape-object {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1199px) {
  .divider-style1 .divider-content .shape-object {
    width: 240px;
  }
}
@media only screen and (max-width: 1199px) {
  .divider-style2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (max-width: 991px) {
  .divider-style2 {
    padding: 50px 0 83px;
  }
}
.divider-style2 .divider-thumb {
  position: relative;
  height: 100%;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* currently supported by Chrome, Edge, Opera and Firefox */
}
.divider-style2 .divider-thumb img {
  max-width: none;
  float: right;
  position: absolute;
  left: -12px;
  bottom: -110px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* currently supported by Chrome, Edge, Opera and Firefox */
}
@media only screen and (max-width: 1199px) {
  .divider-style2 .divider-thumb img {
    position: relative;
    left: 0;
    bottom: 0;
    max-width: 100%;
    float: none;
  }
}
.divider-style2 .divider-content {
  max-width: 454px;
  margin: 0 0 0 70px;
  position: relative;
  padding: 121px 0 125px;
  z-index: 1;
}
@media only screen and (max-width: 1199px) {
  .divider-style2 .divider-content {
    margin: 0 0 0 40px;
  }
}
@media only screen and (max-width: 991px) {
  .divider-style2 .divider-content {
    padding: 0;
    margin: 40px 0 0 28px;
  }
}
.divider-style2 .divider-content .sub-title {
  color: #ffd868;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1;
  margin-bottom: 13px;
  text-transform: uppercase;
}
@media only screen and (max-width: 1199px) {
  .divider-style2 .divider-content .sub-title {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
.divider-style2 .divider-content .title {
  color: #fff;
  font-size: 48px;
}
@media only screen and (max-width: 1199px) {
  .divider-style2 .divider-content .title {
    font-size: 38px;
  }
}
@media only screen and (max-width: 575px) {
  .divider-style2 .divider-content .title {
    font-size: 33px;
  }
}
.divider-style2 .divider-content .desc {
  color: #fff;
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 45px;
}
@media only screen and (max-width: 1199px) {
  .divider-style2 .divider-content .desc {
    font-size: 15px;
    margin-bottom: 25px;
  }
}
.isotope-filter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}
@media only screen and (max-width: 1199px) {
  .isotope-filter {
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 479.98px) {
  .isotope-filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.isotope-filter button {
  border-radius: 50px;
  border: 2px dashed transparent;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  margin: 0 2px;
  padding: 8px 19px 7px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
@media only screen and (max-width: 991px) {
  .isotope-filter button {
    font-size: 13px;
    margin: 0;
    padding: 6px 18px 5px;
  }
}
@media only screen and (max-width: 575px) {
  .isotope-filter button {
    font-size: 12px;
  }
}
@media only screen and (max-width: 479.98px) {
  .isotope-filter button {
    border: 2px dashed #eee;
    display: block;
    margin: 0 3px 10px;
    width: 47.77%;
  }
}
.isotope-filter button.active {
  border-color: #721b65;
}
.isotope-filter button:hover {
  color: #721b65;
}
@media only screen and (max-width: 767px) {
  .isotope-filter-style2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media only screen and (max-width: 767px) {
  .isotope-filter-style2 button {
    font-size: 12px;
    border: 2px dashed #eee;
    display: block;
    margin: 0 3px 10px;
    width: 47.77%;
  }
}

.btn-theme:before {
    background-color: #f4a32b;
    border: 2px solid #f4a32b;
    border-radius: 20px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.btn-theme:after {
    background-color: #b79e55;
    border-radius: 20px;
    content: "";
    height: 100%;
    right: -3px;
    position: absolute;
    top: 3px;
    width: 100%;
    z-index: -2;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.btn-theme {
    background-color: transparent;
    border: none;
    border-radius: 20px;
    color: #721b65;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    height: 55px;
    line-height: 56px;
    letter-spacing: 0.3px;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    width: 180px;
    z-index: 1;
}

.bg-theme-color {
    background-color: #474654 !important;
}
